*{
    margin: 0px auto;
    width: 0px auto;
}
/* body style */
body{
    background-color:darkslategray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}
/* header style */
.header{
    text-align: center;
    font-size: 40px;
    color: cadetblue;
}
/* h1 style */
h1{
    margin-top: 30px;
    text-align: center;
    font-size: 80px;
}
/* body section  */
.bsection{
    align-items:  center;
    font-size: 40px;
    color:cadetblue;

}
/* gamebored screen */
.screenBoard{
    align-items:  center;
    text-align: center;
    font-size: 40px;
    width: 300px;
    height: 400px;
    margin-right: 5%;
    border-radius: 100px 30px;
    border:10px solid red;
    
}
#screenBoard, textarea{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    width:200px;
    height:200px;
    background-color: cadetblue;
    border-radius: 10px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

/* circle division  */
.circle{
    position: relative;
    border-radius:50%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    /* padding-top: 5px ; */
    background-color:darkturquoise;
    /* justify-content: space-between; */
    /* background-color:cadetblue;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: -200px;
    margin-bottom: 10%;
    padding: 10px; */ 
    
}

/* * Green button  */ 
.greenBtn{
    width: 250px;
    height: 250px;
    background-color:springgreen;
    border:1px solid red;
    border-top-left-radius: 250px;
    /* border-top-right-radius: 10px; */
    /* border-bottom-left-radius: 0px; */
    border-bottom-right-radius: 0px;
    /* justify-content: space-between; */
}
    
/* .greenBtn:hover{
    background-color:mediumseagreen;
    cursor: pointer;
} */

.greenBtn:active{
    background-color:darkgreen;
}
/* * red button  */ 
.redBtn{
    width: 250px;
    height: 250px;
    background-color:tomato;
    border:1px;
    /* padding: 0px -50px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 250px;
    /* border-bottom-left-radius: 80px; */
    /* justify-content: space-between; */
}
/* .redBtn:hover{
    background-color:red;
    cursor: pointer;
} */

.redBtn:active{
    background-color:darkred;
}
/* * start Button  */  
.startBtn{
    width: 100px;
    height: 100px;
    background-color:lawngreen;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    position: absolute;
    margin-left: 200px;
    /* margin: 30px 30px; */
    
}
/* * Yellow button  */ 
.yellowBtn{
    width: 250px;
    height: 250px;
    background-color:lightyellow;
    border:1px;
    /* border-top-left-radius: 10px; */
    border-top-right-radius: 0px;
    border-bottom-left-radius: 250px;
    /* border-bottom-right-radius:250px; */
    justify-content: space-between;
    
}
/* .yellowBtn:hover{
    background-color:gold;
    cursor: pointer;
} */

.yellowBtn:active{
    background-color:yellow;
}

/* * Blue button  */ 
.blueBtn{
    width: 250px;
    height: 250px;
    background-color:lightskyblue;
    border:1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    /* border-bottom-left-radius: 80px; */
    border-bottom-right-radius:250px;
}
/* .blueBtn:hover{
    background-color:blue;
    cursor: pointer;
} */

.blueBtn:active{
    background-color:darkblue;
}

/* * display division  */  
.display{
    align-items:  center;
    display: flex;
    margin: 0px 30px;

}
/* * score division  */  
.score, #inputCounter{
    align-items:  center;
    font-size: 30px;
}
#inputCounter{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 0px;
}
/* * score division  */  
.restart{
    align-items:  center;
    font-size: 40;
}


/* * reset button  */  
.resetBtn{
    align-items:  center;
    font-size: 40;
    border-radius: 60px;
    width: 100px;
    height: 50px;
    background-color:darkgray;
    
}

/* * footer division  */  
.footer
{
    align-items:  center;
    font-size: 40;
}
/* .hidden{
    opacity: 1%;
} */