*{
    margin: 0px auto;
    width: 0px auto;
    height: 0px auto;
}
/* body style */
body{
    background-color:darkslategray;
    width:auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
}
/* header style */
.header{
    text-align: center;
    font-size: 48px;
    color: maroon;
    font-family:"https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;1,300&display=swap";
}
/* h1 style */
h1{
    margin-top: 30px;
    text-align: center;
    font-size: 80px;
}
/* body section  */
.sectionOne{
    align-items:  center;
    font-size: 20px;
    color:midnightblue;
}
/*------ gamebored screen ---------*/
.screenBoard{
    align-items:  center;
    text-align: center;
    font-size: 30px;
    width: 250px;
    height: 300px;
    margin-right: 20%;
    border-radius: 90px 30px;
    border:10px solid dodgerblue;
}
/* -- screen display ------- */
h2{
    margin-top: 10px;;
    text-align: center;
    font-size: 30px;
    color:black;
}
 /*-------text area display for the game -----*/
#screenInput, textarea{
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    width:230px;
    height:170px;
    padding: 20px 5px;
    background-color:lightblue;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-color: 1px black;
}

/* circle division  */
.circle{
    position: relative;
    border-radius:50%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 10px;
    /* padding-top: 5px ; */
    background-color:darkturquoise;
    /* justify-content: space-between; */
    /* background-color:cadetblue;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: -200px;
    margin-bottom: 10%;
    padding: 10px; */ 
    
}

/* * Green button  */ 
.greenBtn{
    width: 250px;
    height: 250px;
    background-color:springgreen;
    border:1px solid red;
    border-top-left-radius: 250px;
    /* border-top-right-radius: 10px; */
    /* border-bottom-left-radius: 0px; */
    border-bottom-right-radius: 0px;
    /* justify-content: space-between; */
}
    
/* .greenBtn:hover{
    background-color:mediumseagreen;
    cursor: pointer;
} */

.greenBtn:active{
    background-color:darkgreen;
}
/* * red button  */ 
.redBtn{
    width: 250px;
    height: 250px;
    background-color:tomato;
    border:1px;
    /* padding: 0px -50px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 250px;
    /* border-bottom-left-radius: 80px; */
    /* justify-content: space-between; */
}
/* .redBtn:hover{
    background-color:red;
    cursor: pointer;
} */

.redBtn:active{
    background-color:darkred;
}
/* * start Button  */  
.startBtn{
    width: 150px;
    height: 150px;
    background-color:black;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 175px;
    font-size: 40px;
    color:cornflowerblue;
}
/* * Yellow button  */ 
.yellowBtn{
    width: 250px;
    height: 250px;
    background-color:lightyellow;
    border:1px;
    /* border-top-left-radius: 10px; */
    border-top-right-radius: 0px;
    border-bottom-left-radius: 250px;
    /* border-bottom-right-radius:250px; */
    justify-content: space-between;
    
}
/* .yellowBtn:hover{
    background-color:gold;
    cursor: pointer;
} */

.yellowBtn:active{
    background-color:yellow;
}

/* * Blue button  */ 
.blueBtn{
    width: 250px;
    height: 250px;
    background-color:lightskyblue;
    border:1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    /* border-bottom-left-radius: 80px; */
    border-bottom-right-radius:250px;
}
/* .blueBtn:hover{
    background-color:blue;
    cursor: pointer;
} */

.blueBtn:active{
    background-color:darkblue;
}

/* * Level and Reset Section   */  
.display{
    display: flex;
    margin: -50px 20px;
    justify-content: center;
    text-align: center;

}
/* * Level division  */  
.score, #inputCounter{
    align-items:  center;
    font-size: 25px;
    color: whitesmoke;
}
#inputCounter{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    margin-top: 0px;
    border: 2px solid skyblue;
    background-color:dodgerblue;
    color: whitesmoke;
}

/* * score division  */  
.restart{
    display: flex;
    justify-content: center;
}

/* * reset button  */  
.resetBtn{
    font-size: 30px;
    border-radius: 80px;
    border: 2px solid skyblue;
    width: 140px;
    height: 50px;
    background-color:red;
    color: whitesmoke;
    margin: 10px 10px;
}

/* * footer division  */  
.footer
{
    align-items:  center;
    font-size: 40;
}